@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Loại bỏ spinner trên trình duyệt Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.video-react .video-react-video {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
}
.video-react-controls-enabled {
  padding-top: 25% !important;
}
.custom-label:focus {
  color: #ff9e66;
}
/* Tùy chỉnh thanh cuộn của TabsList */
.tabs-list::-webkit-scrollbar {
  width: 6px; /* Kích thước thanh cuộn dọc */
  height: 6px; /* Kích thước thanh cuộn ngang */
}

/* Tùy chỉnh phần đường viền của thanh cuộn */
.tabs-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Màu sắc của thanh cuộn */
  border-radius: 10px; /* Bo tròn góc của thanh cuộn */
  transition: background-color 0.3s ease; /* Thêm hiệu ứng khi hover */
}

/* Tạo hiệu ứng hover cho thanh cuộn */
.tabs-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6); /* Màu sắc khi hover */
}

/* Tùy chỉnh phần nền thanh cuộn */
.tabs-list::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Màu nền của track */
  border-radius: 10px; /* Bo tròn nền track */
}

/* Thêm hiệu ứng mượt mà cho việc cuộn */
.tabs-list {
  scroll-behavior: smooth; /* Thêm hiệu ứng cuộn mượt mà */
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.custom-background {
  background: linear-gradient(270deg, #c24491, #775fd9);
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ẩn spinner trên Firefox */
.no-spinner[type="number"] {
  -moz-appearance: textfield;
}
